<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tangyibo.planet">


    <application
        android:name=".base.BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/planet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <!--启动页-->
        <activity
            android:name=".ui.enter.StartActivity"
            android:exported="true"
            android:theme="@style/GuideThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <!--引导页-->
        <activity
            android:name=".ui.enter.GuideActivity"
            android:launchMode="singleTask"
            android:theme="@style/GuideThemeFull"/>

        <!--登录页-->
        <activity
            android:name=".ui.enter.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/ThemeLogin"/>

        <!--测试登录页-->
        <activity
            android:name=".ui.enter.TestLoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/ThemeLogin"/>

        <!--上传头像-->
        <activity
            android:name=".ui.home.FirstUploadActivity"
            android:label="@string/text_upload_title"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--二维码-->

        <!--添加好友-->
        <activity
            android:name=".ui.home.AddFriendActivity"
            android:label="@string/text_user_add_friend"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--从通讯录导入-->
        <activity
            android:name=".ui.home.ContactFriendActivity"
            android:label="@string/text_add_friend_contact"
            android:launchMode="singleTask" />

        <!--用户信息-->
        <activity
            android:name=".ui.normal.UserInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <!--发朋友圈-->
        <activity
            android:name=".ui.square.PushSquareActivity"
            android:label="@string/text_square_psuh"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <!--图片预览-->
        <activity
            android:name=".ui.normal.ImagePreviewActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--个人信息-->
        <activity
            android:name=".ui.me.MeInfoActivity"
            android:label="@string/text_me_item_title_1"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--新朋友-->
        <activity
            android:name=".ui.me.NewFriendActivity"
            android:label="@string/text_me_item_title_3"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--隐私设置-->
        <activity
            android:name=".ui.me.PrivateSetActivity"
            android:label="@string/text_me_item_title_4"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--分享-->
        <activity
            android:name=".ui.me.ShareImgActivity"
            android:label="@string/text_me_item_title_5"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--通知-->
        <activity
            android:name=".ui.me.NoticeActivity"
            android:label="@string/text_me_item_title_6"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--设置-->
        <activity
            android:name=".ui.me.SettingActivity"
            android:label="@string/text_me_item_title_7"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--聊天-->
        <activity
            android:name=".ui.chat.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--聊天信息-->
        <activity
            android:name=".ui.chat.ChatInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--主题-->
        <activity
            android:name=".ui.chat.ChatThemeActivity"
            android:label="主题"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--位置-->
        <activity
            android:name=".ui.chat.LocationActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>

        <!--FileProvide-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tangyibo.planet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--android:process=":ipc"-->
        <!--云服务-->
        <service
            android:name=".service.CloudService"
            android:exported="true" />
        <!--Bmob-->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.tangyibo.planet.BmobContentProvider">
        </provider>
        <!--离线消息-->
        <receiver
            android:name=".receiver.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>